*{
	margin: 0;
	padding: 0;
}
body{
	font-size: 14px;
	font-family: "microsoft yahei";
	background-position: top center;
}
hr{
	border: 0;
	border-bottom: 1px solid #61715b;
	margin-top: 15px;
	margin-bottom: 15px;
}
hr.white{
	border-color: #fff;
}
p.txt-white{
	color: white;
}
.hide{
	display: none;
}
.part1,.part2,.part3,.part4,.part5,.part6,.part7,.part8,.part9,.part10,.part11,.part12,.part13,.part14,.part15{
	margin-top: 50px;
	text-align: center;
}
.part1,.part2{
	margin-top: 0;
}
.part14{
	margin-top: 80px;
}
.part15{
	margin-top: 80px;
	padding-bottom: 80px;
}
.align-center{
	text-align: center;
}
.align-left{
	text-align: left;
}
.align-right{
	text-align: right;
}
.p5,.p6,.p7,.p8,.p9,.p10{text-align: left;}
.p5 div,.p6 div,.p7 div,.p8 div,.p9 div,.p10 div{vertical-align: top;}
.p5 p,.p6 p,.p7 p,.p8 p,.p9 p,.p10 p{text-align: justify;}
.p5 hr,.p6 hr,.p7 hr,.p8 hr,.p9 hr,.p10 hr{border-color: #61715b;}
ul{
	margin-bottom: 0;
}
li,ol{
	list-style: none;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
.introduce-left{
	margin-right: 25px;
}
.introduce-right{
	margin-left: 25px;
}

.f-left{
	float: left;
}
.f-right{
	float: right;
}
.f-clear:after{
    display:block; 
    height:0; 
    content:"\200B"; 
    clear:both; 
}
.f-clear{*zoom:1;}
.inlineblock{
	position: relative;
	display: inline-block;
	vertical-align: top;
}
.pic-extra{
	position: absolute;
}
.pic-extra1{
	top: 0;
	right: 310px;
}
.pic-extra2{
	bottom: -20px;
	left: 0;
}
.pic-extra3{
	bottom: -45px;
	right: 350px;
}
.pic-extra4{
	bottom: -25px;
	left: -25px;
}
.pic-extra4 img{
	width: 192px;
	height: 192px;
	border: 4px solid green;
	border-radius: 50%;
	vertical-align: top;
}
a.detail{
	display: block;
	width: 68px;
	height: 24px;
	margin-top: 20px;
	padding: 0 12px;
	line-height: 24px;
	border-radius: 12px;
	font-size: 12px;
	color: #7c7c7c;
	text-align: left;
	background: url(../images/info_03.png) no-repeat 68px center;
	background-color: #ebebeb;
}
p{color: #ccc;}
p.t{
	font-size: 1.06em;
	color: #fff;
}
.line-v{
	height: 125px;
	border-left: 1px solid #61715b;
	margin: 5px 20px 0 20px;
}
.main-title{
	margin-bottom: 5px;
	font-size: 38px;
	color: #c6ff00;
	text-align: left;
	text-shadow: 2px 2px 1px #288119;
	-webkit-transform: skew(-10deg);
	-moz-transform: skew(-10deg);
	-o-transform: skew(-10deg);
	-ms-transform: skew(-10deg);
	transform: skew(-10deg);
}
.main-title img{
	width: 38px;
	margin-left: 5px;
	vertical-align: bottom;
	-webkit-transform: skew(10deg);
	-moz-transform: skew(10deg);
	-o-transform: skew(10deg);
	-ms-transform: skew(10deg);
	transform: skew(10deg);
}
.sub-title{
	margin: 0;
	font-size: 30px;
	color: #dfbd00;
	text-align: left;
}
.small-title{
	font-size: 1.06em;
	color: #fff;
	text-align: left;
}
.describe{
	margin-top: 10px;
	color: #ccc;
	text-align: justify;
}
.part5{
	margin-top: 50px;
}
.part6{
	margin-top: 30px;
}
.part5 .describe{
	width: 377px;
}
.part6 .describe{
	width: 460px;
}
.part7 .describe{
	width: 335px;
}
.part8 .describe{
	width: 380px;
}
.part9 .describe{
	width: 425px;
}
.part10 .describe{
	width: 435px;
}
.part11 .describe{
	width: 425px;
}
.part12 .describe{
	width: 400px;
}
.part13 .describe{
	width: 425px;
}
.part14 .describe{
	width: 265px;
}
.part15 .describe{
	width: 350px;
}
.pic{
	border: 5px solid green;
	border-radius: 50%;
	vertical-align: top;
}
.pic-310{
	width: 310px;
	height: 310px;
}
.pic-430{
	width: 430px;
	height: 430px;
}
.pic-475{
	width: 475px;
	height: 475px;
}
.leadline{
	position: absolute;
}
.leadline img{
	display: block;
	vertical-align: top;
}
.leadline1{
	bottom: -72px;
	left: 280px;
	transform:rotate(-10deg);
	-ms-transform:rotate(-10deg); 	/* IE 9 */
	-moz-transform:rotate(-10deg); 	/* Firefox */
	-webkit-transform:rotate(-10deg); /* Safari 和 Chrome */
	-o-transform:rotate(-10deg); 	/* Opera */
}
.leadline2{
	bottom: -36px;
	right: 165px;
}
.leadline3{
	bottom: -110px;
	left: -115px;
	transform:rotate(-40deg);
	-ms-transform:rotate(-40deg); 	/* IE 9 */
	-moz-transform:rotate(-40deg); 	/* Firefox */
	-webkit-transform:rotate(-40deg); /* Safari 和 Chrome */
	-o-transform:rotate(-40deg); 	/* Opera */
}
.leadline4{
	bottom: -56px;
	right: 120px;
	transform:rotate(-10deg);
	-ms-transform:rotate(-10deg); 	/* IE 9 */
	-moz-transform:rotate(-10deg); 	/* Firefox */
	-webkit-transform:rotate(-10deg); /* Safari 和 Chrome */
	-o-transform:rotate(-10deg); 	/* Opera */
}
.leadline5{
	bottom: -75px;
	right: 290px;
	transform:rotate(80deg);
	-ms-transform:rotate(80deg); 	/* IE 9 */
	-moz-transform:rotate(80deg); 	/* Firefox */
	-webkit-transform:rotate(80deg); /* Safari 和 Chrome */
	-o-transform:rotate(80deg); 	/* Opera */
}
.leadline6{
	bottom: -96px;
	left: 200px;
	transform:rotate(-30deg);
	-ms-transform:rotate(-30deg); 	/* IE 9 */
	-moz-transform:rotate(-30deg); 	/* Firefox */
	-webkit-transform:rotate(-30deg); /* Safari 和 Chrome */
	-o-transform:rotate(-30deg); 	/* Opera */
}
.leadline7{
	bottom: -136px;
	right: 65px;
	transform:rotate(30deg);
	-ms-transform:rotate(30deg); 	/* IE 9 */
	-moz-transform:rotate(30deg); 	/* Firefox */
	-webkit-transform:rotate(30deg); /* Safari 和 Chrome */
	-o-transform:rotate(30deg); 	/* Opera */
}
.leadline8{
	bottom: -80px;
	left: 75px;
	transform:rotate(-110deg);
	-ms-transform:rotate(-110deg); 	/* IE 9 */
	-moz-transform:rotate(-110deg); 	/* Firefox */
	-webkit-transform:rotate(-110deg); /* Safari 和 Chrome */
	-o-transform:rotate(-110deg); 	/* Opera */
}
.leadline9{
	bottom: -110px;
	right: 255px;
	transform:rotate(-30deg);
	-ms-transform:rotate(-30deg); 	/* IE 9 */
	-moz-transform:rotate(-30deg); 	/* Firefox */
	-webkit-transform:rotate(70deg); /* Safari 和 Chrome */
	-o-transform:rotate(-30deg); 	/* Opera */
}
.leadline10{
	top: 280px;
	left: 320px;
	transform:rotate(-30deg);
	-ms-transform:rotate(-30deg); 	/* IE 9 */
	-moz-transform:rotate(-30deg); 	/* Firefox */
	-webkit-transform:rotate(180deg); /* Safari 和 Chrome */
	-o-transform:rotate(-30deg); 	/* Opera */
}
.content{
	width: 980px;
	margin: 0 auto;
}
.nav li{
	float: left;
}
.nav li a{
	display: block;
	padding: 0 10px;
}
.header{
	width: 100%;
	height: 33px;
	background-color: #fff;
	line-height: 33px;
}
.header-content{
	width: 980px;
	height: 100%;
	margin: 0 auto;
}
.header-content .logo{
	height: 33px;
}
.header-content .logo img{
	vertical-align: top;
}
.header-content .left ul{
	margin-left: 20px;
}
.header-content .left ul li a{
	display: block;
	padding: 0 10px;
	color: #000;
}
.header-content .rigth ul li{
	display: block;
	padding: 0 15px;
	color: #000;
}
.header-content .rigth ul li.v-line{
	display: inline-block;
	width: 1px;
	height: 17px;
	margin: 8px 10px;
	padding: 0;
	background-color: #afa486;
}
.header-content .rigth ul li a{
	color: #000;
}
.mian{
	background-image: url(../images/bg_03.jpg);
}
.mian .content .part1{
	padding-top: 80px;
	padding-bottom: 200px;
	text-align: center;
}
.mian .content .part1 .p1-title{
	display: inline-block;
	margin-bottom: 15px;
	}
.mian .content .part1 h1{
	margin: 0 10px;
	font-size: 100px;
	color: #ffd800;
}
.mian .content .part1 h2{
	margin-top: 22px;
	margin-bottom: 3px;
	font-size: 40px;
	text-align: left;
	color: #ffd800;
}
.mian .content .part1 h3{
	font-size: 36px;
	margin: 0;
	color: #c6ff00;
}
.mian .content .part1 .p1-bottom{ 
	display: inline-block;
	padding: 0 50px;
	line-height: 60px;
	border-radius: 8px;
	font-size: 30px;
	color: #fff;
	background-color: #1e7e0e;
	-webkit-transform: skew(-20deg);
	-moz-transform: skew(-20deg);
	-o-transform: skew(-20deg);
	-ms-transform: skew(-20deg);
	transform: skew(-20deg);
}
.mian .content .part1 .p1-bottom span{
	display: block;
	-webkit-transform: skew(20deg);
	-moz-transform: skew(20deg);
	-o-transform: skew(20deg);
	-ms-transform: skew(20deg);
	transform: skew(20deg);
}
.mian .content .part2{
	padding-top: 65px;
	/*padding-bottom: 200px;*/
	text-align: center;
}
.mian .content .part2 h3{
	margin-bottom: 20px;
	color: #dfbd00;
}
.mian .content .part2 p{
	margin-top: 20px;
	margin-bottom: 30px;
	color: #fff;
}

.mian .content .part3 .invest{
	position: relative;
	height: 262px;
}
.mian .content .part3 .invest-content{
	position: absolute;
	top: 0;
	left: 2px;
	width: 978px;
	height: 262px;
	border-radius: 10px;
	background: url(../images/touzibg_03.jpg);
	text-align: left;
}
.mian .content .part3 .invest-content .f-right{
	width: 512px;
	padding: 28px 35px;
	color: #fff;
}
.mian .content .part3 .invest-content .f-right h3{
	margin: 0;
}
.mian .content .part3 .invest-content .f-right i{
	font-size: 1.2em;
	color: #ffd800;
}

.mian .content .part3 .invest-tips{
	position: absolute;
	top: -9px;
	left: -7px;
}
.mian .content .part4{
	margin-top: 40px;
}
.mian .content .part4 .f-left{
	text-align: right;
}
.mian .content .part4 .title{
	margin-top: -30px;
	font-size: 40px;
	color: #c6ff00;
}
.mian .content .part4 .title strong{
	font-size: 62px;
}
.mian .content .part4 .sub-title{
	margin-top: -10px;
	text-align: right;
	font-size: 34px;
	color: #ffd800;
}
.mian .content .part4 .p4-content{
	width: 320px;
	font-size: 14px;
	color: #eee;
	text-align: justify;
}


/*.part14{
	margin-top: 50px;
}*/
.part14 .health,.part14 .new{
	position: relative;
	width: 415px;
	padding-left: 60px;
	padding-top: 30px;
	padding-bottom: 30px;
	border-radius: 10px;
	background: #288119;
}
.part14 .health .tips{
	position: absolute;
	top: -8px;
	left: -8px;
}
.part14 .new .tips{
	position: absolute;
	top: -8px;
	left: -7px;
}
.part14 .health .inner{
	width: 280px;
}
.part14 .new .inner{
	width: 265px;
}
.part14 .health .inner h3,.part14 .new .inner h3{
	margin: 0;
	font-size: 28px;
	color: #f5d301;
	text-align: left; 
}
.part14 hr{
	width: 265px;	
}
.part14 .health .detail,.part14 .new .detail{
	margin-top: 20px;
}
.part14 .health{
	margin-right: 25px;
}
.part14 .health .image{
	position: absolute;
	right: 30px;
	bottom: 0;
}
.part14 .new .image{
	position: absolute;
	right: 20px;
	bottom: 20px;
}
.part14 .new{
	/*width: 475px;*/
}
/*.part15{
	margin-top: 80px;
	/*margin-bottom: 100px;*/
}*/
.part15 .left{
	width: 365px;
	margin-top: 75px;
	margin-right: 25px;
}
.part15 .left h2{
	width: 370px;
	font-size: 40px;
	color: #c6ff00;
	text-shadow: 2px 2px 1px #288119;
}
/*.part15{
	height: 550px;
}*/
.part15 .right{
	position: relative;
	height: 450px;
}
.part15 .right .picbox {
	position: relative;
	width: 590px;
	height: 450px;
}
.part15 .right .picbox .big-img img{
	position: absolute;
	top: 0;
	left: 0;
	width: 440px;
	height: 440px;
	border: 5px solid #ffdc1c;
	border-radius: 50%;
}
.part15 .right .picbox .sm-img .pic1{
	position: absolute;
	top: 166px;
	right: 0;
	width: 110px;
	height: 110px;
	border: 4px solid #ffdc1c;
	border-radius: 50%;
}
.part15 .right .picbox .sm-img .pic2{
	position: absolute;
	top: 75px;
	right: 65px;
	width: 70px;
	height: 70px;
	border: 3px solid #297419;
	border-radius: 50%;
}
.part15 .right .picbox .sm-img .pic3{
	position: absolute;
	bottom: 75px;
	right: 65px;
	width: 70px;
	height: 70px;
	border: 3px solid #297419;
	border-radius: 50%;
}
#line{
	height: 2px;
	background: linear-gradient(left ,rgba(255, 255, 255, 0) 10% , rgba(255, 255, 255, 0.7) 20% , rgb(255, 255, 255) 10% , rgb(255, 255, 255) 82% , rgba(255, 255, 255, 0.1) 95%);
	background: -o-linear-gradient(left ,rgba(255, 255, 255, 0) 10% , rgba(255, 255, 255, 0.7) 20% , rgb(255, 255, 255) 10% , rgb(255, 255, 255) 82% , rgba(255, 255, 255, 0.1) 95%);
	background: -ms-linear-gradient(left ,rgba(255, 255, 255, 0) 10% , rgba(255, 255, 255, 0.7) 20% , rgb(255, 255, 255) 10% , rgb(255, 255, 255) 82% , rgba(255, 255, 255, 0.1) 95%);
	background: -moz-linear-gradient(left ,rgba(255, 255, 255, 0) 10% , rgba(255, 255, 255, 0.7) 20% , rgb(255, 255, 255) 10% , rgb(255, 255, 255) 82% , rgba(255, 255, 255, 0.1) 95%);
	background: -webkit-linear-gradient(left ,rgba(255, 255, 255, 0) 10% , rgba(255, 255, 255, 0.7) 20% , rgb(255, 255, 255) 10% , rgb(255, 255, 255) 82% , rgba(255, 255, 255, 0.5) 86%, rgba(255, 255, 255, 0) 95%);

	opacity: .3;
}
#prev,#next{
	position: absolute;
	right: 144px;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	cursor: pointer;
}
#prev{
	top: 13px;
}
#next{
	bottom: 13px;
}
.explain{
	position: absolute;
	top: 300px;
	left: 0;
	width: 310px;
	padding: 3px;
	border-radius: 5px;
	background: #f4c60c;
	background: linear-gradient(top,#ffe85a 25%,#f4c60c 100%);
	background: -webkit-linear-gradient(top ,#f9d51f 2%,#ffe85a 10%,#f4c60c 100%);
}
.dotedbox{
	padding: 10px 15px 10px 20px;
	border: 1px dashed #998622;
	border-radius: 5px;
	text-align: left;
}
.dotedbox h3{
	color: #288119;
	margin-bottom: 10px;
}
.dotedbox p{
	color: #7d6c07;
}
.footer{
	width: 100%;
	height: 230px;
}
.footer .wecando{
	height: 197px;
	background-color: #f7f7f7;
	overflow: hidden;
}
.footer .wecando .content .left{
	width: 525px;
}
.footer .wecando .content .left h2{
	font-size: 20px;
	color: #000;
	margin: 25px 0;
}
.footer .wecando .content .left p{
	font-size: 12px;
	color: #7a7a7a;
	line-height: 20px;
}
.footer .wecando .content .left p strong{
	color: #fe2525;
}
.footer .wecando .content .right img{
	display: block;
	height: 197px;
	border: 0;
}
.footer .copy-info{
	height: 33px;
	background-color: #333;
	line-height: 33px;
	font-size: 12px;
	color: #fff;
}
.footer .copy-info ul{
	margin-left: -10px;
}
.footer .copy-info ul li a{
	display: block;
	padding: 0 10px;
	color: #fff;
}
#mask-img{
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	width: 100%;
	height: 100%;	
	background-color: rgba(0,0,0,.9);
}
#mask-img .img-box{
	position: fixed;
	display: inline-block;
	padding: 20px;
}
#mask-img .img-box .btn-close-box{
	position: relative;	
}
#mask-img .img-box .btn-close-box .btn-close{
	position: fixed;
	top: 0;
	right: 0px;
	display: block;
	width: 50px;
	height: 50px;
	line-height: 45px;
	background-color: rgba(50,50,50,.6);
	font-size: 50px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	cursor: pointer;
}